<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metadata Overview</title>
</head>
<body>
<div th:switch="${metadatas}">
    <h2 th:case="null">No metadata yet!</h2>
    <div th:case="*">
        <h2>Metadata</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Content</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="meta : ${metadatas}">
                <td th:text="${meta.id}"></td>
                <td th:text="${meta.type}"></td>
                <td th:text="${meta.content}"></td>
                <td><a th:href="@{/editMetadata/{id}(id=${meta.id})}">Edit</a></td>
                <td><a th:href="@{/deleteMetadata/{id}(id=${meta.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/add">Add new metadata</a></p>
</div>
</body>
</html>